@import url(../../index.css);

#content-img{
    background-image: url("/public/img/main-img/home-img.png");
    background-color: rgb(94, 90, 135);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

button{
    background-color: var(--gold) !important;
    padding: 10px 15px;
    font-weight: 600;
    border-radius: 0px;
    transition: 0.25s all linear;
}

button:hover{
    width: 100% !important;
}

.techIcons{
    display: flex;
    background-color: white;
    border-radius: 100%;
    max-width: 140px;
    padding: 15px;
    justify-content: center;
}

.cardContatos{
    background-color: #092e43;
    gap: 1rem;
    width: 20rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}